*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Assets/marcelo-leal-6pcGTJDuf6M-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    /* background: transparent; */
    background-color:whitesmoke;
    color: #0080ff;
    border-radius: 10px;
    padding: 20px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(0,0,0,0.2);
    outline: none;
    border-radius: 40px;
    font-size: 18px;
    padding: 20px 45px 20px 20px;
    color: #0080ff;
}

.input-box input::placeholder{
    padding-left: 10px;
    font-size: 18px;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    margin: -15px 0 15px;
    color: #0080FF;
}

.wrapper .remember-forget label input{
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forget a{
    color: #0080FF;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.wrapper button{
    width: 100%;
    height: 45px;
    background-color: #0077ff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.wrapper .register-link{
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    font-size: 18px;
    color: #0080FF;
    text-decoration: none;
    font-weight: 600;
    &:hover{
        text-decoration: underline;
    }
}